@import "tailwindcss";

:root {
    --color-bg: #F8F7F5;
    --color-input-bg: #FCFBFA;
    --color-border: #D1CCC5;
    --color-text-dark: #231F20;
    --color-text-muted: #5C564D;
    --color-brown-dark: #4A3C31;
    --color-brown-light: #A67C52;
    --color-placeholder: #A39E98;
    
    --color-overlay-base: #1A1715;
    --color-overlay-90: rgba(26, 23, 21, 0.9);
    --color-overlay-40: rgba(26, 23, 21, 0.4);
    
    --color-error-bg: #FEF2F2;
    --color-error-text: #a31f1f;
    --color-error-border: #db1a1a;
    --color-success-bg: #EFEBE4;
    --color-info-bg: #F3F4F6;
    --color-info-text: #1F2937;
    --color-info-border: #4B5563;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text-dark);
}

#link-brown {
    color: var(--color-brown-light);
    text-decoration: none;
    transition: color 0.2s ease;
}

#link-brown:hover {
    color: var(--color-text-muted);
}

#link-gray {
    color: var(--color-info-text);
    text-decoration: none;
    transition: color 0.2s ease;
}

#link-gray:hover {
    color: var(--color-overlay-base);
}

#link-white {
    color: var(--color-info-bg);
    text-decoration: none;
    transition: color 0.2s ease;
}

#link-white:hover {
    color: var(--color-placeholder);
}

::selection {
    background-color: var(--color-brown-dark);
    color: var(--color-bg);
}

@layer components {
    .section-label {
        @apply block text-[10px] font-bold tracking-[0.15em] uppercase mb-1.5;
    }
}